@import 'shared/variables';

.app-article-list-card .mat-card-image {
    margin-bottom: 0;
}

.app-article-list-card.app-under-contruction {
    padding-bottom: 0;
    overflow: hidden;

    .mat-card-image {
        margin-bottom: -4px;
        margin-top: 0;
    }
}

.app-article-list-card.app-article-list-empty-card {
    text-align: center;
}

.app-article-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 8px;

    .app-article-list-card {
        flex: 1 1 auto;
        margin: 8px;

        display: flex;
        flex-flow: column nowrap;

        .mat-card-header .mat-card-title.app-card-title-link {
            cursor: pointer;
        }

        .mat-card-content {
            flex: 1 1 auto;
            margin-bottom: 0;
            max-width: 400px;
            min-width: 100%;

            display: flex;
            flex-flow: column nowrap;

            .mat-card-image {
                flex: 1 1 auto;
                overflow: hidden;
                object-fit: cover;
                object-position: top center;
            }
        }

        .mat-card-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;

            .fill-remaining-space {
                flex: 1 1 auto;
            }
        }
    }
}

.app-article-list-container {
    margin-top: 0;
    opacity: 1;

    transition-property: margin-top, opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    .app-article-list-card {
        transition-property: box-shadow;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-function;
    }

    &.app-article-list-loading {
        margin-top: -16px;
        opacity: 0;

        .app-article-list-card {
            box-shadow:
                0px 0px 0px 0px rgba(0, 0, 0, 0.2),
                0px 0px 0px 0px rgba(0, 0, 0, 0.14),
                0px 0px 0px 0px rgba(0, 0, 0, 0.12);
        }
    }
}

.app-article-loading-container {
    padding: 16px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    opacity: 0;
    transform: translateY(-100%);

    transition-property: opacity, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    &.app-article-list-loading {
        opacity: 1;
        transform: translateY(0%);
    }

    .app-article-loading-spinner {
        margin: 0 auto;
    }
}

// layout style when header is full
@media screen and (min-width: $breakpoint-nav-side-min) {
    .app-article-list-container .app-article-list-card {
    
        .mat-card-content {
            max-height: 800px;
        }
    }
}
