<div class="app-article-list-container">
    <mat-card class="app-article-list-card app-under-contruction">
        <mat-card-title>Under Construction</mat-card-title>
        <mat-card-subtitle>Simple Reddit App</mat-card-subtitle>
        <img mat-card-image alt="Under Construction" [src]="constructionImage">
    </mat-card>
    <mat-card class="app-article-list-card" *ngFor="let article of articles">
        <mat-card-header>
            <img mat-card-avatar [src]="article.avatar">
            <mat-card-title>{{ article.subreddit }}</mat-card-title>
            <mat-card-subtitle>{{ article.username }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ article.title }}</p>
            <img mat-card-image [src]="article.image" alt="Photo of a Shiba Inu">
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [href]="article.link" target="_blank">OPEN</a>
            <a mat-button [href]="article.link" target="_blank">COMMENTS</a>
        </mat-card-actions>
    </mat-card>
</div>
