<div class="app-article-list-container" [class.app-article-list-loading]="loading">
    <mat-card class="app-article-list-card app-article-list-card-under-contruction mat-elevation-z3">
        <mat-card-header>
            <mat-card-title>Under Construction</mat-card-title>
            <mat-card-subtitle>Simple Reddit App</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image alt="Under Construction" [src]="constructionImage">
        </mat-card-content>
    </mat-card>
    <mat-card class="app-article-list-card mat-elevation-z3" [class.app-article-list-card-reddit]="article.reddit" *ngFor="let article of articles">
        <mat-card-header>
            <img mat-card-avatar [src]="article.avatar">
            <mat-card-title class="app-card-title-link" [routerLink]="'/' + article.subreddit">
                {{ article.subreddit }}
            </mat-card-title>
            <mat-card-subtitle>{{ article.username }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ article.title }}</p>
            <img mat-card-image *ngIf="article.image" [src]="article.image" [alt]="article.title">
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [color]="article.reddit ? 'basic' : 'primary'" [href]="article.link" target="_blank">OPEN</a>
            <a mat-button [color]="article.reddit ? 'basic' : 'primary'" [href]="article.comments" target="_blank">COMMENT</a>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button [color]="article.reddit ? 'basic' : 'primary'" (click)="article.reddit = !article.reddit">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button [color]="article.reddit ? 'basic' : 'primary'" [cdkCopyToClipboard]="article.link">
                <mat-icon>share</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="app-article-list-card app-article-list-card-empty mat-primary"
        *ngIf="loading === false && articles.length === 0">
        <p>No results found for {{ subreddit ? 'r/' + subreddit : 'the front page' }}.</p>
    </mat-card>
</div>
