@import 'shared/variables';

// app article list container styles
.app-article-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 8px;

    margin-top: 0;
    opacity: 1;

    transition-property: margin-top, opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    .app-article-list-card {
        flex: 1 1 auto;
        margin: 8px;

        display: flex;
        flex-flow: column nowrap;

        box-shadow:
            0px 3px 3px -2px rgba(0, 0, 0, 0.2),
            0px 3px 4px 0px rgba(0, 0, 0, 0.14),
            0px 1px 8px 0px rgba(0, 0, 0, 0.12);

        transition-property: box-shadow, filter, opacity;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-function;

        .mat-card-header .mat-card-title.app-card-title-link {
            cursor: pointer;
        }

        .mat-card-content {
            flex: 1 1 auto;
            margin-bottom: 0;
            max-width: 400px;
            min-width: 100%;

            display: flex;
            flex-flow: column nowrap;

            .app-card-content-title {
                overflow-wrap: break-word;
            }

            .mat-card-image {
                flex: 1 1 auto;
                overflow: hidden;
                object-fit: cover;
                object-position: top center;

                margin-bottom: 0;
            }
        }

        .mat-card-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;

            a[mat-button],
            button[mat-icon-button] {
                transition-property: color;
                transition-duration: $transition-duration;
                transition-timing-function: $transition-function;
            }

            .fill-remaining-space {
                flex: 1 1 auto;
            }
        }

        // additional styles for reddit (aka read) card
        &.app-article-list-card-reddit {
            box-shadow:
                0px 1px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            filter: blur(2px);
            opacity: 0.25;
        }

        // additional styles for empty list card
        &.app-article-list-card-empty {
            text-align: center;
        }

        // additional styles for under construction card
        &.app-article-list-card-under-contruction {
            padding-bottom: 0;
            overflow: hidden;

            .mat-card-image {
                margin-bottom: -4px;
                margin-top: 0;
            }
        }
    }

    &.app-article-list-loading {
        margin-top: -16px;
        opacity: 0;

        .app-article-list-card {
            box-shadow:
                0px 0px 0px 0px rgba(0, 0, 0, 0.2),
                0px 0px 0px 0px rgba(0, 0, 0, 0.14),
                0px 0px 0px 0px rgba(0, 0, 0, 0.12);
        }
    }
}

.app-article-pagination-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    padding: 8px;
    margin-bottom: 12px;

    margin-top: 0;
    opacity: 1;

    transition-property: margin-top, opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    &.app-article-list-loading {
        margin-top: -16px;
        opacity: 0;

    }

    button:first-of-type {
        margin-left: 8px;
    }

    button:last-of-type {
        margin-right: 8px;
    }
}

// article loading container styles
// element removed due to issues w/ safari
.app-article-loading-container {
    padding: 16px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    opacity: 0;
    transform: translateY(-100%);

    transition-property: opacity, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    &.app-article-list-loading {
        opacity: 1;
        transform: translateY(0%);
    }

    .app-article-loading-spinner {
        margin: 0 auto;
    }
}

// layout style when header is full
@media screen and (min-width: $breakpoint-nav-side-min) {
    .app-article-list-container .app-article-list-card {
    
        .mat-card-content {
            max-height: 400px;
        }
    }
}
