// base breakpoints
$breakpoint-header-lg-min: 600px;
$breakpoint-nav-side-min: 720px;

// base trasition variables
$transition-duration: 400ms;
$transition-duration-short: 200ms;
$transition-function: cubic-bezier(0.25, 0.8, 0.25, 1);

// header toolbar height
$header-toolbar-lg-height: 64px;
$header-toolbar-sm-height: 56px;

// footer height
$footer-height: 73px;
