// import library functions for theme creation
@import '~@angular/material/theming';

// define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin app-scrollbar-theme($theme) {

    // extract the palette details needed from the theme definition
    $is-dark-theme: map-get($theme, is-dark);

    // define scrollbar thumb and track background color based on theme
    $background: if($is-dark-theme, rgba(white, 0.3), rgba(black, 0.26));
    $background-active: if($is-dark-theme, rgba(white, 0.43), rgba(black, 0.38));

    // define any styles affected by the theme
    .app-scrollbar {

        &::-webkit-scrollbar {
            height: 6px;
            width: 6px;
        }

        &::-webkit-scrollbar-thumb  {
            background: $background;

            &:hover {
                background: $background-active;
            }
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px $background;

            &:hover {
                box-shadow: inset 0 0 6px $background-active;
            }
        }
    }
}
