<div [ngClass]="{'dark-theme': isDarkTheme | async}">
    <mat-sidenav-container class="app-container" hasBackdrop="true">
        <mat-sidenav #sidenav class="app-sidenav" mode="push">
            <app-nav></app-nav>
            <app-footer></app-footer>
        </mat-sidenav>
        <mat-sidenav-content class="app-content" appScrollbar appScrollHide="app-header-hidden" 
            appScrollHideDelayDown="50" appScrollHideDelayUp="150" appScrollHidePadding="64">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> 
