@import 'shared/variables';

// import library functions for theme creation
@import '~@angular/material/theming';

// use to set the base and transition values
@mixin app-nav-item-base($palette) {
    box-sizing: border-box;
    border-left: 0px solid mat-color($palette);

    transition-property: border-left, color;
    transition-duration: $transition-duration-short;
    transition-timing-function: $transition-function;

    .mat-list-item-content {
        margin-left: 0px;
        transition: margin-left $transition-duration-short $transition-function;
    }
}

// use to set the border and color from a palette
@mixin app-nav-item-active-base($palette, $hue: default) {
    border-left: 4px solid mat-color($palette);
    color: mat-color($palette);

    .mat-list-item-content {
        margin-left: -4px;
    }
}

// define a mixin that accepts a theme and outputs the theme-specific styles
@mixin app-nav-theme($theme) {

    // extract the palettes needed from the theme definition
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);

    // define any styles affected by the theme
    mat-nav-list.app-nav-list {
        
        .mat-list-item,
        .app-nav-category .app-list-category {
            @include app-nav-item-base($foreground);
        }

        .mat-list-item.app-nav-item-active,
        .app-nav-category.app-nav-item-active .app-list-category:not(.expanded) {
            @include app-nav-item-active-base($foreground, text);
        }

        .mat-list-item.app-nav-item-active-primary,
        .app-nav-category.app-nav-item-active-primary .app-list-category:not(.expanded) {
            @include app-nav-item-active-base($primary);
        }

        .mat-list-item.app-nav-item-active-accent,
        .app-nav-category.app-nav-item-active-accent .app-list-category:not(.expanded) {
            @include app-nav-item-active-base($accent);
        }

        .mat-list-item.app-nav-item-active-warn,
        .app-nav-category.app-nav-item-active-warn .app-list-category:not(.expanded) {
            @include app-nav-item-active-base($warn);
        }
    }
}
