<mat-toolbar class="app-header-toolbar mat-elevation-z4" role="heading">
    <mat-toolbar-row>
        <button mat-icon-button class="app-header-menu-toggle" aria-label="Toogle menu" (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="app-header-title">{{ appTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button class="app-header-theme-toggle" (click)="toggleDarkTheme(isDarkTheme)">
            <mat-icon>settings_brightness</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
